.navbar-container {
    position: fixed;
    user-select: none;
    z-index: 3;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3%;
    height: 80px;
    border-width: 2px 0px;
    border-style: solid;
    position: fixed;
    margin-top: 120px;
    transition: 100ms;
    font-size: larger;
}

.navbar.dark {
    background-color: black;
    color: white;
    border-color: white;
}

.navbar.light {
    background-color: white;
    color: black;
    border-color: black;
}

.navbar.mini {
    font-size: large;
    height: 60px;
    margin-top: 60px;
}

#dropdown-menu {
    display: none;
}

#collapsible-part-of-navbar {
    display: none;
}

#inline-menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.navlink {
    text-decoration: none;
    color: inherit;
}
.navlink:active {
    transition: 10ms;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .navbar {
        margin-top: 100px;
        height: 80px;
    }
    .navbar.light.mini, .navbar.dark.mini {
        font-size: medium;
        height: 60px;
        margin-top: 60px;
    }
    #inline-menu {
        display: none;
    }
    #dropdown-menu {
        display: flex;
        font-size: 3rem;
    }
    .pluscross-switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
    }
      
    .pluscross-checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .pluscross-text {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .pluscross-text:before {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: '+';
        height: 30px;
        width: 30px;
        left: 5px;
        bottom: 5px;
        transition-duration: 0.5s;
    }
    
    .pluscross-checkbox:checked + .pluscross-text:before {
        transform: rotateZ(135deg);
        transition-duration: 0.5s;
        content: '+';
    }
    .collapsibleMenu {
        height: 40vh;
        width: 100%;
        margin-top: 180px;
        position: fixed;
        z-index: 2;
        border-width: 0px;
        border-bottom-width: 2px;
        border-style: solid;
        padding: 2% 10%;
        flex-direction: column;
        justify-content: space-around;
    }
    .collapsibleMenu.mini {
        transition: 200ms;
        margin-top: 120px;
    }
    
    .collapsibleMenu.light {
        color: black;
        background-color: white;
        border-color: black;
    }
    .collapsibleMenu.dark {
        color: white;
        background-color: black;
        border-color: white;
    }
    .navlink {
        border: 0px;
        border-bottom-width: 2px;
        border-style: ridge;
        padding-bottom: 1vh;
        z-index: -1;
    }
    .navlink:active {
        transition: 100ms;
        transform: none;
    }
}