.home-spacer {
    height: 200px;
}
#public-home {
    user-select: none;
}
#hero-pane {
    background-size: cover;
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 800px;
    transition: 500ms;
}
#hero-pane.dark {
    background-image: url('../../resources/black-mountains-background.jpg');
}
#hero-pane.light {
    background-image: url('../../resources/blue-mountains-background.jpeg');
}
#hero-text {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    height: 600px;
}
.hero-secondary-text {
    font-size: 2vw;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1%;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.hero-small-text {
    font-size: 1.2vw;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 1%;
    text-align: center;
}
#hero-CTA {
    margin-top: 50px;
    color: black;
    text-decoration: none;
    font-size: 2vw;
    background-color: white;
    padding: 1%;
    border-radius: 40px;
    transition: 250ms;
}
#hero-CTA.light:hover {
    color: white;
    background-color: rgb(110, 130, 180);
    transform: translateX(5px);
    transform: translateY(-5px);
    box-shadow: 5px 5px rgb(56, 94, 149), 10px 10px white;
}
#hero-CTA.dark:hover {
    color: white;
    background-color: black;
    transform: translateX(5px);
    transform: translateY(-5px);
    box-shadow: 5px 5px gray, 10px 10px white;
}
.CTA-link {
    color: inherit;
    text-decoration: none;
}
.title-span {
    display: inline-flex;
    gap: 30px;
    align-items: baseline;
}
.title-span > h3 {
    font-size: 5vw;
}
.title-span > h2 {
    font-size: 7vw;
}
.title-span > h1 {
    font-size: 10vw;
}
#title-span > h1 > span {
    font-size: 140px;
}
#features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    padding: 2%;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    text-align: center;
}
#features.light {
    background-color: white;
    border-color: black;
    color: black;
}
#features.dark {
    background-color: black;
    border-color: black;
    color: black;
}
.featurePane {
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    height: 600px;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    border-color: inherit;
    margin: 20px;
    transition: 400ms;
    border-top-left-radius: 80px;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 0.2);
}
.featurePane:hover {
    border-radius: 0px;
}
#feature-pane-one {
    background-color: chartreuse;
}
.feature-title {
    font-size: 2vw;
}
#feature-pane-two {
    background-color: cyan;
}
#profession-emoji {
    display: flex;
    content: 'none';
    font-size: 5vw;
    transition: 500ms;
}
#profession-text {
    font-size: 2vw;
}
#feature-pane-three {
    background-color: aquamarine;
}
.paneThree-image {
    width: 35vw;
    max-width: 500px;
}
#feature-pane-four {
    background-color:hotpink;
}
.paneOne-image {
    animation: imageAnimation 10s ease-in-out infinite;
    width: 35vw;
    max-width: 500px;
    border-radius: 20px;
}
#footer {
    display: grid;
    height: 250px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 2% 5%;
    border: 0;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
}
#footer.light {
    background-color: white;
    color: black;
    border-color: black;
}
#footer.dark {
    background-color: black;
    color: white;
    border-color: white;
}
.footer-column {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: flex-start;
    padding: 3% 5%;
}
.footer-headings {
    font-size: 1vw;
}
#footer-credit {
    display: flex;  
    justify-content: center;
    width: 100%;
    padding: 10px 0%;
    color: rgb(0, 255, 149);
    background-color: black;
}

@keyframes imageAnimation {
    0% {
        content: url('../../resources/teamnames-one.png');
        transform: scale(1);
    }
    33% {
        content: url('../../resources/teamnames-two.png');
        transform: scale(1);
    }
    66% {
        content: url('../../resources/teamnames-three.png');
        transform: scale(1);
    }
    100% {
        content: url('../../resources/teamnames-one.png');
        transform: scale(1);
    }
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
    #features {
        flex-direction: column;
        padding: 2%;
        gap: 50px;
    }
    .featurePane {
        width: 90%;
        gap: 30px;
    }
    .feature-title {
        font-size: 3vw;
    }
    .paneOne-image {
        width: 55vw;
    }
    .paneThree-image {
        min-width: 55vw;
    }
    #profession-emoji {
        font-size: 8vw;
    }
    #profession-text {
        font-size: 4vw;
    }
    #footer {
        padding: 20px;
        height: 250px;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-column {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 800px) {
    .home-spacer {
        height: 180px;
    }
    #hero-pane {
        height: 600px;
        margin-top: -50px;
    }
    .title-span {
        gap: 10px;
    }
    .title-span > h3 {
        font-size: 6vw;
    }
    .title-span > h2 {
        font-size: 8vw;
    }
    .title-span > h1 {
        font-size: 12vw;
    }
    .hero-secondary-text {
        font-size: 3.5vw;
        margin-top: 20px;
    }
    .hero-small-text {
        margin: 0px 10px;
        text-align: center;
        padding: 3%;
        margin-top: 10px;
        font-size: 2.5vw
    }
    #hero-CTA {
        font-size: 4vw;
        padding: 2%;
        border-radius: 30px;
        margin-top: 100px;
    }
    #hero-CTA.light {
        color: white;
        background-color: rgb(110, 130, 180);
        transform: translateX(5px);
        transform: translateY(-5px);
        box-shadow: 4px 4px rgb(56, 94, 149), 8px 8px white;
    }
    #hero-CTA.dark {
        color: white;
        background-color: black;
        transform: translateX(5px);
        transform: translateY(-5px);
        box-shadow: 4px 4px gray, 8px 8px white;
    }
    #features {
        flex-direction: column;
        padding: 3% 2%;
        gap: 20px;
    }
    .featurePane {
        justify-content: center;
        width: 90%;
        padding: 5% 2%;
        gap: 10px;
        height: 400px;
        border-top-left-radius: 50px;
    }
    #feature-pane-two {
        gap: 30px;
    }
    .feature-title {
        font-size: 4vw;
    }
    .paneOne-image {
        width: 70vw;
        max-width: 450px;
    }
    .paneThree-image {
        min-width: 60vw;
        max-width: 300px;
    }
    #profession-emoji {
        font-size: 10vw;
    }
    #profession-text {
        font-size: 4vw;
    }
    #footer {
        padding: 3%;
        height: 400px;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-column {
        font-size: 0.9rem;
    }
}